
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
  /* background: #333333; */
  /* color: aliceblue; */
}

*{
  margin: 0;padding: 0;box-sizing: border-box;
  font-family: outfit;
}

#root{
  min-height: 10vh;
  display: flex;
}